.fondneurone {
  opacity: 0.1;
  position: absolute;
  top: 0%;
  width: 100%;
  height: 36.1em;
}
header {
  width: 100%;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 0.07% 0%;
  font-family: 'Rubik', sans-serif;
  background: linear-gradient(rgba(0, 171, 276, 0.7),rgba(0, 226, 192, 0.7));
}
.header {
  color: white;
}
body {
  height: 100%;
  margin: 0px;
  font-family: 'Rubik', sans-serif;
}
nav {
  display: flex;
  margin-left: 6%;
  margin-right: 3%;
  justify-content: space-between;
  font-size: large;
  font-weight: normal;
}
ul {
  list-style-type: none;
}
p {
  font-family: 'Dosis', sans-serif;
}
em {
  font-style: normal;
}
.topleft {
  float: left;
  padding: inherit;
}
.topleft li {
  font-size: larger;
}
.topright {
  display: flex;
  align-content: space-around;
  width: 50%;
  padding: inherit;
}
body > header > nav > ul {
  display: flex;
  justify-content: space-around;
}
a {
  text-decoration: none;
  color: black;
}
.splashscreen {
  margin-top: 5%;
  margin-bottom: 2.5%;
  margin-left: 0%;
  margin-right: 0%;
  padding-bottom: 5%;
  background: linear-gradient(rgba(0, 226, 192, 0.7),rgba(0, 276, 170, 0.7));
  color: white;
}
.bienvenue {
  display: flex;
  flex-direction: column;
  padding-top: 5%;
  margin: 0%;
  align-items: center;
}
#logo {
  height: 100px;
  width:100px;
  margin:2%;
  transform: rotate(45deg);
}
.ensavoirplus {
  display: flex;
  width: 15%;
  justify-content: center;
  border: 0px solid black;
  border-radius: 10px;
  margin: 0;
  padding: 1%;
  background-color: white;
}
.decouverte {
  margin: 2.5% 0%;
  padding: 2% 2.5%;
  padding-bottom: 0;
}
#demarche {
  padding: 1%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1%;
}
h1 {
  font-size: 4em;
  margin:1%;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 7px;
}
#savoirattractif{
  font-size: 1.5em;
  margin: 0;
  padding-bottom: 5%;
  padding-left: 5%;
  padding-right: 5%;
}
#decouvrez {
  font-size: 3em;
  margin-top: 1%;
  margin-bottom: 2%;
}
#trouverlinfo {
  font-size: 1em;
  margin-bottom: 0.5%;
}
.explication {
  margin: 2.5% 0;
  padding: 0 2.5%;
}
#etapes {
  display: flex;
  align-content: space-between;
  padding: 2.5% 0;
}
.etape {
  width: 25%;
  margin: 0 1%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logoetape {
  width: 25px;
  margin-bottom: 5%;
}
.etape h3 {
  margin: 3%;
}
.etape p {
  margin: 1%;
  text-align: center;
  font-size: 15px;
  line-height: 22.5px;
  padding: 10%;
  padding-top: 0;
}
#choix {
  padding: 2.5%;
}
.bottomsection {
  display: flex;
  justify-content: space-around;
  padding: 2.5%;
  margin: 1% 0%;
}
.bottomsection li {
  padding: 2% 3%;
  border: 0px solid black;
  border-radius: 30px;
  background-color: #ff4d4d;
  width: 20%;
}
.bottomsection a {
  display: flex;
  justify-content: center;
}
footer {
  background-color: rgba(71, 107, 107, 0.8)
}
.copyright {
  margin-bottom: 1%;
  margin-top: 10%;
  font-size: small;
}
.bottomleft {
  padding: 0%
}
.bottomright {
  display: flex;
    width: 20%;
    padding: 0;
    justify-content: space-around;
}
.liensocial {
  height: 50px;
  width: 50px;
}
#page2 .splashscreen {
  padding-bottom: 9%;
}
.details {
  display: flex;
  position: relative;
  align-content: space-between;
  margin: 2.5%;
  line-height: 1.5;
}
#pourquoi {
  width: 60%;
  margin-right: 2%;
  padding: 4% 0%;
  padding-right: 4%;
}
#quicomment {
  width: 40%;
  margin-left: 2%;
  padding: 4% 0;
}
#qui {
  padding-bottom: 2%;
}
.listemoteurs {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  padding-left: 0;


  margin: 2%;
}
.reference {
  padding: 3%;
  padding-left: 0;
  font-size: larger;
}
#titreliste {
  font-size: x-large;
  font-weight: bold;
}
